<!--<a class="slds-context-bar__label-action" title="test"  (click)="navigateTOMenu('a027F000003pgv7')">
  <span class="slds-truncate" title="Menu Item">test</span>
</a>

<a class="slds-context-bar__label-action" title="Menu Item" [routerLink]="['/view']" [queryParams]="{layoutId: 'a027F000003pgv7'}">
  <span class="slds-truncate" title="Menu Item">test1</span>
</a>-->


<div class="slds-context-bar">
  <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right">
      <div class="slds-context-bar__icon-action slds-context-bar__item_divider-right">
        <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
          <span class="slds-icon-waffle">
          </span>
          <span class="slds-assistive-text">Open App Launcher</span>
        </button>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span class="slds-truncate" title="App Name">App Tittle(GRTX)</span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      
      <li *ngFor="let menuInfo of menuOptions" class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover slds-context-bar__item_divider-right">
        
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item" [routerLink]="['/view']" [queryParams]="{layoutId: menuInfo.layoutId}">
          <span class="slds-truncate" title="Menu Item">{{menuInfo.Name}}</span>
        </a>
        <div class="slds-context-bar__icon-action slds-p-left_none slds-context-bar__item_divider-right">
          <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true" title="Open menu item submenu">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
            </svg>
            <span class="slds-assistive-text">Open menu item submenu</span>
          </button>
        </div>
        <div class="slds-dropdown slds-dropdown_right slds-context-bar__item_divider-right">
          <ul class="slds-dropdown__list" role="menu">
            <li *ngFor="let subMenuInfo of menuInfo.subMenus" class="slds-dropdown__item slds-context-bar__item_divider-right" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="-1" routerLink="/view" [queryParams]="{layoutId: subMenuInfo.layoutId}">
                <span class="slds-truncate" title="action">
                  <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                  </svg>{{subMenuInfo.Name}}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      
    </ul>
  </nav>
</div>